:root {
  --primary: #37c5b9;
  --secondary: #21cf7e; 
}

.btn {
    font-family: sans-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
}


.btn-primary {
background-color: var(--primary);
color: white;
border: none;
}

.btn-primary-border {
    background-color: var(--primary);
    color: white;
    border: 3px solid white;
    }


.btn-secondary {
    background-color: var(--secondary);
    color: white;
    border: none;

}

.btn-medium {
padding:10px 20px;
font-size: 18px;
}
.btn-big {
    padding: 15px 30px;
    font-size: 20px;

}
.btn-small {
    padding:5px 10px;
    font-size: 12px;

}